body {
  background-color: rgb(223, 223, 223);
}
h1 {
  color: rgb(27, 27, 27);
}
h2 {
  color: rgb(36, 36, 36);
}
p {
  color: rgb(15, 15, 15);
}

.header {
    background: rgb(189, 189, 189);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding: 20px;
    text-align: center;
}

.headerText {
    margin: auto;
    width: 50%;
}

.body {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  background: rgb(236, 236, 236); 
}

